__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.ipynb_checkpoints
.ipynb_checkpoints/
*.egg-info/
.venv/
venv/
.git/
.gitignore
results/
results_TF/
temp/
temp_TF/
logs/
*.log
.DS_Store
notebooks/
*.ipynb